@import url("https://fonts.googleapis.com/css?family=Nunito:400|Nunito+Sans:400");

html {
  font-size: 100%;
} /*16px*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #0d30f3;
  --secondaryColor: #df2c1f;

  /* Rest of the colors */
  --black: #000000;
  --TransparentWhite: rgba(255, 255, 255, 0.014);
  --SolidWhite: #fff;
}

p {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
  margin-bottom: 50px;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  display: block;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
body {
  background: var(--white);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--black);
  letter-spacing: var(--letterSpacing);
  background: transparent;
  overflow-x: hidden;
}

/* 
#############
NAV-BAR
############# */

.navbar {
  margin: 2vw 2vw 0 2vw;
}

.nav-center {
  padding: 0.2rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header a {
  display: flex;
  align-content: center;
}
.nav-btn {
  color: var(--black);
}
.nav-btn:hover {
  cursor: pointer;
}
.nav-logo img {
  width: 100px;
  text-align: right;
}

.nav-links {
  padding: 0.5rem;
  padding-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links a {
  text-transform: capitalize;
  color: var(--black);
  font-size: 0.9rem;
}
.nav-links a:link {
  color: var(--black);
}
.nav-links a:visited {
  color: var(--secondaryColor);
}

/* 
#############
MAIN
############# */

.main {
  padding: 0 4vw;
  margin: 0 3vw;
}

.main-img {
  background: linear-gradient(
      rgba(255, 255, 255, 0.116),
      rgba(240, 237, 237, 0.2)
    ),
    url("./Images/welcomeImg.jpg") center/cover no-repeat;
  height: 80vh;
  width: 85vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.site-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-name img {
  width: 40vw;
  background: transparent;
}

/*#############
 Section 1 
 #############*/

.txt {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  margin-bottom: 8vw;
  margin-top: 8vw;
  /* border:2px solid blue; */
}

.section1 span {
  color: var(--primaryColor);
}

.bold {
  font-size: 1rem;
}

.collage,
.collage2,
.collage3 {
  margin: 10vw 0;
}
/*#############
 Section 2 
 #############*/

.collage {
  position: relative;
}
.collage-bgd {
  background: rgba(200, 89, 105, 0.6);
  height: 58vw;
  width: 58vw;
  position: relative;
  z-index: -1;
  margin-left: -7.2vw;
}

.collage-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.img1 {
  background: url("./Images/img1.jpg") center/cover no-repeat;
  height: 20vw;
  width: 30vw;
}
.img2 {
  background: url("./Images/img2.jpg") center/cover no-repeat;
  height: 41vw;
  width: 41vw;
}

/* 
#############
SECTION-3
############# */

.embed {
  height: 45vw;
  width: 75vw;
  margin: 4rem auto;
}
iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.embed p {
  margin-top: 0.5rem;
}

/* 
#############
SECTION-4
############# */

.collage2 {
  position: relative;
}
.bgd {
  background: rgba(16, 206, 88, 0.6);
  height: 75vw;
  width: 58vw;
  z-index: -1;
  position: relative;
  margin-left: auto;
  margin-right: -7.2vw;
}

.collage2-container {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 4vw;
  position: absolute;
  top: 0;
}

.img3 {
  background: url("./Images/img3.jpg") center/cover no-repeat;
  height: 45vw;
  width: 42vw;
}

.bgd-container {
  height: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  gap: 4vw;
}

.img4 {
  background: url("./Images/img4.jpg") center/cover no-repeat;
  height: 25vw;
  width: 35vw;
}

.img5 {
  background: url("./Images/img5.jpg") center/cover no-repeat;
  height: 25vw;
  width: 35vw;
}

/* 
#############
SECTION-5
############# */

.pic {
  background: url("./Images/img6.jpg") center/cover no-repeat;
  width: 80vw;
  height: 50vw;
  margin: 8vw auto;
}

.collage3 {
  position: relative;
}
.collage3-bgd {
  background: rgba(240, 191, 17, 0.6);
  height: 60vw;
  width: 65vw;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.collage3-cont {
  position: absolute;
  display: flex;
  top: 0;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img7 {
  background: url("./Images/img7.jpg") center/cover no-repeat;
  height: 30vw;
  width: 35vw;
}

.img8 {
  background: url("./Images/img8.jpg") center/cover no-repeat;
  height: 41vw;
  width: 41vw;
  margin-right: -7.2vw;
}

/* 
#############
SECTION-6
############# */

.last-img {
  background: url("./Images/img9.jpg") center/cover no-repeat;
  height: 50vw;
}
.last-bgd {
  display: flex;
  flex-flow: column wrap;
  background: #b1c5ff;
  padding: 5vw;
  height: auto;
}

.last-bgd h5 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.last-link a {
  color: var(--primaryColor);
}

/* 
#############
FOOTER
############# */

.footer {
  margin: 0 3vw;
  padding: 0 4vw;
  padding-bottom: 0;
  font-size: 85%;
  color: var(--black);
}
.footer-seperator {
  margin-top: 2vw;
  border-top: 1px solid rgb(202, 182, 182);
  height: 1rem;
  width: 100vw;
}
.footer-logo {
  margin-top: 3vw;
}
.form {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
}

#email {
  flex: 1;
  background: transparent;
  background-color: #eee;
  border: 0;
  padding: 0.4rem 0.75em;
  height: 2rem;
}
#signup {
  padding: 0.35rem 1.5rem;
  color: var(--SolidWhite);
  background: blue;
  border: 0;
}

#signup:hover {
  cursor: pointer;
}
::placeholder {
  opacity: 0.2;
}

/* SOCIALS */
.socials {
  margin-top: 1rem;
}
.socials-list1 {
  display: inline-block;
}
.socials-list1 a {
  color: var(--black);
}
.social-icon {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.fa-facebook-square {
  color: #3477f2;
}

.fa-youtube {
  color: #ff001d;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-instagram-square {
  color: #f77737;
}

/* EXT */

.ext-list1 {
  padding-bottom: 1rem;
}
.ext-list1 li a {
  display: inline-block;
  color: var(--black);
}
#header {
  font-weight: bold;
  font-size: 0.9rem;
}

.ext-list2 li a {
  display: inline-block;
  color: var(--black);
}

.ext-list2 {
  margin: 1rem 0;
}
.info {
  display: flex;
  justify-content: space-between;
}

.top a {
  font-size: 0.8rem;
  color: var(--secondaryColor);
}

.builtby {
  font-weight: 600;
  font-size: 0.8rem;
}

/*##########
MEDIA QUERIES
##############*/

@media screen and (min-width: 746px) {
  .embed {
    width: 70vw;
    height: 40vw;
  }
  .txt {
    width: 65vw;
  }
}
@media screen and (min-width: 1024px) {
  .nav-links a {
    font-size: 102%;
  }
  .socials {
    order: 1;
  }
  .dist {
    order: 4;
  }
  .edu {
    order: 2;
  }
  .comm {
    order: 3;
  }
  .final {
    order: 6;
  }
  .form-container {
    order: 3;
  }
  #header {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 3rem;
    margin-bottom: 2rem;
  }
  .ext-list2 {
    display: flex;
    gap: 1rem;
    font-size: 90%;
  }
  .top a {
    font-size: 1rem;
  }
  .footer {
    font-size: 100%;
  }
  .footer p {
    font-size: 100%;
  }
}

@media screen and (max-width: 400px) {
  .nav-links {
    padding-bottom: 0;
  }

  .nav-logo img {
    width: 80px;
  }
  .footer {
    font-size: 80%;
  }
  .footer p {
    font-size: 0.8rem;
  }
  .footer-logo img {
    width: 90px;
  }
  .footer-logo {
    margin-bottom: 5px;
  }
  .nav-logo {
    width: 90px;
  }
  .form {
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
  #email {
    flex: none;
  }
  .social-icon {
    font-size: 1.5rem;
  }
}
